.pricing {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.pricing h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.pricing p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.pricing-plans {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.plan {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    /* Adjust width as necessary */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.plan h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.plan p {
    font-size: 1.5em;
    margin: 10px 0;
}

.plan ul {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.plan li {
    margin: 5px 0;
}

.btn {
    background-color: #4CAF50;
    /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.btn:hover {
    background-color: #45a049;
}