.faq {
    padding: 20px;
    background-color: #f8f3ea;
    text-align: center;
}

.faq h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.faq-list {
    max-width: 800px; 
    margin: 0 auto;
    text-align: left;
}

.faq-item {
    background-color: #fff;
    border: 1px solid #7a94ff; /* Set outline to purple */
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.faq-question {
    font-size: 1.5em;
    margin: 0;
}

.faq-answer {
    margin: 10px 0 0;
    font-size: 1.2em; 
}

@media (max-width: 768px) {
    .faq h1 {
        font-size: 2em; 
    }

    .faq-question {
        font-size: 1.2em;
    }

    .faq-answer {
        font-size: 1em;
    }

    .faq-item {
        padding: 10px; 
    }
}