/* sections/NotFound/NotFound.css */
.not-found-container {
    padding: 50px;
    text-align: center;
  }
  
  .not-found-container a {
    color: #2196F3;
    text-decoration: none;
  }
  
  .not-found-container a:hover {
    text-decoration: underline;
  }
  