.header {
    background-color: #f8f3ea;
    padding: 20px;
    text-align: center; /* Optional for centering */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;  /* Add a max-width for better centering */
    margin: 0 auto;     /*Center the navbar horizontally */
    width: 100%;
}

.logo img {
    height: 40px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    color: #1A1D20;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    font-family: Inter;
}

.nav-item a:hover {
    color: #1A1D20;
}

.login-button,
.logout-button {
    background-color: #7a94ff;
    color: #fff;
    border: 1px solid #1A1D20;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 25px;
}

.login-button:hover,
.logout-button:hover {
    background-color: #1A1D20;
    color: #ffffff; /* Change text color to white for contrast */
}

.user-info {
    display: flex;
    align-items: center;
    font-family: Inter;
}

.user-name {
    color: #1A1D20;
    margin-right: 20px;
    font-size: 16px;
}